
.contents__chat__list{data: {id: message.id}}
  .contents__chat__list__info
    .contents__chat__list__info__name
      %p.class
        = message.user.name
    .contents__chat__list__info__time
      %p
        = message.created_at.strftime("%Y/%m/%d %H:%M")
  .contents__chat__list__chat
    .contents__chat__list__chat__text
      %p.class
        = message.content
    = image_tag message.image.url, class: 'contents__chat__list__chat__image' if message.image.present?